:root{
    --rojo:61060a;
    --blanco : rgb(255, 255, 255);
    --gris : #242d2b;
    --negro:#000;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    height: 100vh;
}
*{
    padding: 0rem;
    margin: 0rem;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 3rem;
    font-style: normal;
    color: var(--blanco);
}
.titulo{
    font-family: 'DOOM 2016 Left', sans-serif;
    letter-spacing: 1rem;
    text-shadow:
        -0.3rem 0 var(--negro),
        0.3rem 0 var(--negro),
        0 -0.3rem var(--negro),
        0 0.3rem var(--negro);
}
.subtitulos{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}
.img{
    width: 30rem;
    height: 30rem;
}
.espacio{
    display: flex;
    justify-content: space-around;
}
.informacion{
    width: 100%;
    height: 75rem;
    background-image: url(../img/infierno.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
header div{
    width: 100%;
    height: 75rem;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header div h1{
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    font-size: 20rem;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--gris);
    border-top: 0.2rem solid var(--negro);
    border-bottom:0.2rem solid var(--negro);

}
nav svg {
    display: flex;
    margin-top: 5.4rem;
    margin-bottom: 5.4rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(165, 42, 42, 0.519);
    font-size: larger;
    align-items: center;
}
main{
    background: linear-gradient(to bottom,var(--gris),#331713,#441509,#cf2c1a);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2rem;    
}
.card{
    height: 50rem;
    flex: 1;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    transition: 1s all ease;
}
.card .ver{
    visibility: hidden;
}
.card:hover{
    flex: 4;
    cursor: pointer;
    box-shadow: 0 1rem 1rem black;
}
.card:hover .ver{
    animation: aparece .3s ease-in-out backwards;
    visibility: visible;
    padding-bottom: 20rem;
}
.vidio{
    width: 50rem;
    height: 30rem;
    padding-left: 4rem;
}
.card p{
    padding-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card span{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.2);
    color: white;
    padding: 2rem;
    text-align: center;
    transform: translateX(-100%);
}
.card:hover>span{
    background: rgb(0, 0, 0, 0.7);
}
.material-symbols-outlined {
    font-size: 8rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-family: 'Material Symbols Outlined';
}
@keyframes aparece {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#menuToggle{
    display: none;
}
.barra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    display: none;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#menuToggle:checked ~ .menu{
    display: flex;
    flex-direction: column;
}
.menu li{
    padding: 1rem;
}
@media (min-width: 900px){
    .barra{
        flex-direction: row;
    }
    .boton{
        margin-right: 20rem;
    }
    #menuToggle:checked ~ .menu{
    display: flex;
    flex-direction: row;
    }
    
}