:root{
    --rojo:61060a;
    --blanco : rgb(255, 255, 255);
    --gris : #242d2b;
    --negro:#000;
    --xbox :#0e7a0d;
    --play:#193285;
    --switch:#e60012;
    --steam:#007ead;
}
*{
    padding: 0rem;
    margin: 0rem;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 3rem;
    font-style: normal;
    color: var(--blanco);
}
.textos{
    font-family: 'DOOM 2016 Left', sans-serif;
    letter-spacing: 0.8rem;
    text-shadow:
        -0.3rem 0 var(--negro),
        0.3rem 0 var(--negro),
        0 -0.3rem var(--negro),
        0 0.3rem var(--negro);
}
.textos2{
    font-size: 7rem;
    margin-left: 2rem;
    padding-top: 4rem;
}
.img{
    width: 30rem;
    height: 30rem;
}
.img2{
    width: 50rem;
    height: 30rem;
    padding-top: 10rem;
}
.block{
    display: flex;
    justify-content: space-around;
}
#logos{
    display: flex;
    flex-direction: column;
}
.acerca{
    width: 100%;
    height: 90rem;
    background-image: url(../img/infierno.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--negro); 
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
header div{
    width: 100%;
    height: 78.7rem;
    background-image: url(../img/titulo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header div h1{
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    font-size: 20rem;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--gris);
    border-top: 0.2rem solid var(--negro);
    border-bottom:0.2rem solid var(--negro);
}
nav a{
    margin-top: 5.4rem;
    margin-bottom: 5.4rem;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(165, 42, 42, 0.519);
}

main{
    background: linear-gradient(to bottom,var(--gris),#331713,#441509,#cf2c1a);
}

.parrafo{
    padding-bottom: 30rem;
    width: 80rem;
    margin-left: 2rem;
}
.historia{
    width: 100%;
    height: 100rem;
    background-image: url(../img/tierra.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5rem;
}
.premios{
    width: 100%;
    height: 90rem;
    background-image: url(../img/premios.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.compra{
    width: 100%;
    height: 70rem;
    background-image: url(../img/infierno.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding-top: 15rem;
    
}
.pictures{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}
.pictures a{
    text-decoration: none;
}
.centro{
    box-sizing: border-box;
    background-color: var(--gris);
    padding: 2rem;
    transition: transform 0.4s ease;
}
.centro:hover{
    transform: scale(1.13);
}
.centrar{
    padding-top: 13rem;
}
.cajabotones{
    width: 20rem;
    height: 6.2rem;
    display: flex;
    justify-content: start;
}
.cajacompra{
    width: 40rem;
    height: 60rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    background-color: var(--negro);
    align-items: center;
    box-sizing: border-box;
}
.parrafobotones{
    font-size: 2rem;
    font-family: Orbitron, Open Sans, Noto Sans Japanese, Trade Gothic Bold Condensed No20, sans-serif;
    padding-top:1.7rem ;
    text-align: start;
    
}
.boton{
    width: 10rem;
    height: 4rem;
    padding-top: 1rem ;
}
.xbox{
    background-color:var(--xbox) ;
    font-size: 0.5rem;
}
#xbox :hover{
    background-color: #0b5a0a;
}
.play{
    background-color: var(--play);
    font-size: 0.5rem;
}
#play :hover{
    background-color: #102052;
}
.switch{
    background-color: var(--switch);
    font-size: 0.5rem;
}
#switch :hover{
    background-color: #790711;
}
.steam{
    background-color: var(--steam);
    font-size: 0.5rem;
}
#steam :hover{
    background-color: #033344;
}
.cajacompra a{
    text-decoration: none;
}
.meta{
    display: flex;
    justify-content: center;
    width: 4rem;
    background-color: rgb(24, 126, 54);
    text-decoration: none;
    
}
footer{
    width: 100%;
    height: 15rem;
    background-color: var(--negro);
}

@media (max-width: 1024px) {
    header div h1{
        left: 9rem;
    }
    .pictures{
        height: 60rem;
        justify-content: center;
        flex-direction: column;
        
    }
    .centro{
        width: 37rem;
        height: 24rem;
    }
}